.card{
    background-color: #d97904;
    color: #fff; 
	transition: transform 0.15s;
}
.card:hover{
	transform: scale(1.05);
}
.card img{
	object-fit: cover;
}
.card a.nostyle{
	height: 100%;
	width: 100%;
}