/*CSS Contato*/
.contato .entre-em-contato{
    background-color: #fff;
    color: black;
    font-size: 14px;
    /* border-radius: 2px; */
    /* box-sizing: none! important; */
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}
.contato .entre-em-contato label{
    color: black;
}
.contato .contate-nos{
    background-color: #d2a977;
    font-size: 20px;
}

body{
    background-image: url('/site-receitas/img/cabecalhoPaginaInicial.jpg');
    background-size: cover;
    background-position: center;
}

footer{
    background-color: rgb(243, 241, 241);
}

.voltar {
    padding: 20px;
    color: white;
}