/* título */
h1 {
    color: #F29F05;
}

/* cards */
.card {
    width: 90%;
    height: auto;
    margin: auto;
    border: 1px solid #F29F05;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #F29F05;
    transition: transform 0.15s;
}

.card:hover{
    transform: scale(1.05);
}

.bg-image {
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    border-radius: .25rem;
}

/* colunas */
.bg-custom {
    background-color: #BF8B78;
    border-radius: 15px;
}

