/* título */
h1 {
    margin: auto;
    width: 50%;
    color: #F29F05;
    background-color: #bf8b7852;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* cards */
.card {
    width: 90%;
    height: auto;
    margin: auto;
    border: 1px solid #F29F05;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #F29F05;
    transition: transform 0.15s;
}

.card:hover{
    transform: scale(1.05);
}

.bg-image {
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    border-radius: .25rem;
}

/* colunas */
.bg-custom {
    background-color: #d2a977;
    border-radius: 15px;
}