.cover {
    background-image: url('/site-receitas/img/cabecalhoPaginaInicial.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
} 
.cover h1{
    color: #fff;
}
.cover p {
    color:#fff;
}
h5{ 
    display: inline;
}

.carousel, .carousel img{
    width: 70vw;
    height: 70vh;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: rgba(0, 0, 0, 0.2);
}