.featurette-divider{ 
    margin: 100px;
}   
.img{ 
    height: 451px; 
    width: 451px; 
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2); 
    margin: 20px;
} 
.ingredientes{  
    box-sizing: border-box;
    display: flex; 
    justify-content: center; 
    height: 100%; 
    align-items: center; 
    font-size: 2vmin; 
    word-wrap: break-word; /* Quebra a linha em palavras */
  white-space: pre-line;
} 
.divisor{ 
    background-color: aqua; 
    margin: 0 auto;
}