@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rochester&display=swap');
*{ 
    font-family: Montserrat;
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}  
body, html {
    overflow-x: hidden;
}
body{
    margin-top: 55px;
    background: linear-gradient(#592d1d, #8d030f); 
}
main{
    min-height: 90vh;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}
.line{ 
    width: 40vmin;
    height: 7px;
    background: #d90416;
    border-radius: 4px;   
    margin: 0 10px 30px 10px;
}

header.default .navbar-brand {
    padding-left: calc(var(--bs-gutter-x) * .5);
}
header.default .nav-item{
    padding-right: calc(var(--bs-gutter-x) * .5);
}

footer.default{
    background-color: rgb(83, 80, 80);
}