@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rochester&display=swap');
*{ 
    font-family: Montserrat;
    color: #fff;
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}  
body, html {
    overflow-x: hidden;
}
body{
    margin-top: 55px;
    background: linear-gradient(#592d1d, #68020a); 
}
main{
    min-height: 90vh;
}

a.nostyle {
    text-decoration: inherit;
    color: inherit;
}

.navbar{
    background-color: #592d1d;
    border-bottom: 1px solid #472317;
}

header.default {
    background-color: #592d1d;
}

header.default .navbar-brand {
    padding-left: calc(var(--bs-gutter-x) * .5);
}
header.default .navbar-collapse{
    transition: 0.5s;
}
header.default .nav-item{
    padding-right: calc(var(--bs-gutter-x) * .5);
}

footer.default{
    background-color: #68020a;
}